.card-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .card-container .card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1.1rem;
  }
  
  .card-row .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    width: 180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  
  .card-row .card-body {
    text-align: center;
    /* width: 300px; */
  }
  .card-container .carLogo-btn{
    color: #f75d34;
    font-size: 16px;
    font-weight: 600;
  }
  
  